body{
    font-family: Arial;
}
#menu, #menu ul, #menu li{
    padding:0;
    margin:0;
}

#menu li{
    list-style: none;
    position: relative;
    width:130px;
    height: 30px;
    padding:0 0px;
    background-color: navy;
    line-height: 30px;
    cursor:pointer;
}

#menu li a{
    text-decoration:none;
    color: white;
}

#menu li:hover{
    background-color:red;
}

#menu ul ul{
    position: absolute;
    top:0;
    left:140px;
    visibility:hidden;
}

#menu ul li:hover ul{
    visibility:visible;
}
#menu{
    width: 800px;
    border: 10px;
    border-color: chartreuse aqua blue blueviolet;
    border-style: solid;
}